<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base HTML {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function (){
            setTimeout(function () {
                $('.timeout').fadeOut('slow');
            }, 2000);
        })
    </script>
    
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>