{% extends 'Base.html' %}

{% block title %}
Signin Page
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form class="form-group form-control" action="" method="post">
            {% csrf_token %}
            <div class="container col-md-4">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="text-center">
                <input class="btn btn-success col-md-4" type="submit" value="Sign-in">
            </div>   
            <div class="text-center" style="padding:10px">   
            <p>Not registered click here  <button class="btn btn-warning"><a style="text-decoration:none;color:black" href="{% url 'sign-up' %}">Sign-up</a></button></p>
            </div>
            <div class="text-center text-danger">
                {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                      <p class="text-danger">{{message}}</p>
                  {% elif message.tags ==  'success' %}
                      <p class="text-success">{{message}}</p>
                  {% else %}
                      <p>{{message}}</p>
                  {% endif %}
                {% endfor %}
               {% endif %}
            </div>
        </form>
    </div>
{% endblock %}