{% extends 'Base.html' %}

{% block title %}
Signup Page
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form class="form-group form-control" action="" method="post">
            {% csrf_token %}
            <div class="container col-md-4">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="text-center">
                <input class="btn btn-warning col-md-4" type="submit" value="Sign-up"><br><br>
            </div>
            <div class="text-center">
                <p>Already registered click here for     <button class="btn btn-success"><a style="text-decoration:none;color:white" href="{% url 'sign-in' %}">Sign-in</a></button></p>
            </div>
            <div class="text-center">
                {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <p class="text-danger timeout">{{message}}</p>
                    {% elif message.tags == 'success' %}
                        <p class="text-success timeout">{{message}}</p>
                    {% else %}
                        <p>{{message}}</p>
                    {% endif %}
                  {% endfor %}
                 {% endif %}
            </div>
        </form>
    </div>
{% endblock %}